@import ./vars

*
 margin: 0
 padding: 0
 border: 0

*,
*:before,
*:after
 box-sizing: border-box

html,
body
 font-family: $fontMain
 font-size: 10px
 line-height: 1.6

body
 min-height: 100vh
 font-size: 1.4rem
 &.locked
  overflow: hidden

aside,
nav,
header,
footer,
section
  display: block

// Common Styles
h1,
h2
  font-family: $fontSecondary
  font-weight: 400
  line-height: 1.25
  color: $secondary
h1
  font-size: 8rem
h2
  font-size: 4rem

a,
a:visited,
a:hover
 text-decoration: none
 color: inherit

ul li
 list-style: none

.container
  max-width: $containerWidth + px
  width: 100%
  margin: 0 auto
  padding: 0 $containerSidePadding + px

.main-item
  font-family: $fontMain
  font-size: 1.3rem
  line-height: 1.15
  letter-spacing: 0.06em
  text-transform: uppercase
