include ./_mixins

section.about#about
  .container
    .about__title
      h2 Обо мне
    .about__content
      .about__content_image
        img(src="@img/author.png", alt="author", width=500, height=540)
      .about__content_description
        p Более 20-ти лет активной работы дизайнером интерьера позволили мне накопить ценнейшие опыт и знания для создания роскошных и респектабельных интерьеров, отвечающих всем требованиям даже самого взыскательного Заказчика, превращая его неясные фантазии и желания в настоящие эксклюзивные интерьеры любой сложности, в различных стилистических направлениях.<br><br>Моё творческое кредо в профессии: «Дизайнера в проекте должно быть как можно меньше, а самая важная деталь при создании интерьера — это идея и искреннее отношение к проекту и заказчику».
        .about__content_description-info
          .about__content_description-info_left
            .number 20
            p лет опыта
          .about__content_description-info_right
            .number 300
            p реализованных проектов