include ./_mixins

section.about#about
  .container
    .about__title
      h2 About Me
    .about__content
      .about__content_image
        img(src="@img/author.png", alt="author", width=500, height=540)
      .about__content_description
        p More than 20 years of active work as an interior designer have allowed me to accumulate valuable experience and knowledge to create luxurious and respectable interiors that meet all the requirements of even the most demanding Customer, turning his vague fantasies and desires into real exclusive interiors of any complexity, in various stylistic directions.< br><br>My creative credo in the profession: "There should be as little designer as possible in the project, and the most important detail when creating an interior is an idea and a sincere attitude towards the project and the customer.
        .about__content_description-info
          .about__content_description-info_left
            .number 20
            p years of experience
          .about__content_description-info_right
            .number 300
            p completed projects
