include ./_mixins

footer.footer#contacts
  section.contacts
    .container
      h2.contacts__title Контакты
      .contacts__content
        form(action="https://formspree.io/f/meqnrdon", method="POST").contacts_form
          input(type="text", name="name", placeholder="Ваше имя", requied).contacts_form-field
          input(type="text", name="email", placeholder="Ваш E-mail", requied).contacts_form-field
          textarea(name="message", placeholder="Сообщение", requied).contacts_form-text
          button(type="submit").success-btn отправить
          p.contacts_form-status
        ul.contacts__list
          //- contact list with arrey and mixin
          each item in contacts
            +contact(item)

  .footer__copyright &copy; 2019 Ekaterina Melisova
