include ./_mixins

footer.footer#contacts
  section.contacts
    .container
      h2.contacts__title Contacts
      .contacts__content
        form(action="https://formspree.io/f/meqnrdon", method="POST").contacts__form
          input(type="text", name="name", placeholder="Your name", requied).contacts__form-field
          input(type="text", name="email", placeholder="Your email", requied).contacts__form-field
          textarea(name="message", placeholder="Message", requied).contacts__form-text
          button(type="submit").success-btn send
          p.contacts__form-status
        ul.contacts__list
          //- contact list with array and mixin
          each item in contacts
            +contact(item)

  .footer__copyright &copy; 2023 Ekaterina Protopopova
