include ./_mixins

header.header
    nav.header__nav
      .container
        ul.header__nav_menu
          li.header__nav_menu-item
            a(href="#!").main-item обо мне
          li.header__nav_menu-item
            a(href="#!").main-item портфолио
          li.header__nav_menu-item
            a(href="#!").main-item контакты
    .container
      .header__content
        .header__content_title
          h1 Екатерина Мелисова
          h2.header__content_subtitle.main-item дизайнер-интерьера
        .header__video
          img(src="@img/poster-img.png", alt="small image")
          button.header__video_btn #[+svg-icon('arrow').icon-arrow]
          p Смотреть<br>видео-презентацию
    .header__right
      img(src="@img/main-img.png", alt="main image").main_image
