include ./_mixins
include ./_vars

header.header#header
  nav.header__nav
    .container
      ul.header__nav_menu
        li.header__nav_menu-item
          a(href="#about").main-item обо мне
        li.header__nav_menu-item
          a(href="#portfolio").main-item портфолио
        li.header__nav_menu-item
          a(href="#contacts").main-item контакты

  .container
    .header__content
      .header__content_title
        h1= header_ru.title
        h2.header__content_subtitle.main-item= header_ru.subtitle
      a(href="https://youtu.be/OsENkzlfYFw", data-fancybox).header__video
        img(src="@img/poster-img.png", width="237", height="178", alt="small image")
        .header__video_play
          button.header__video_play-btn #[+svg-icon('arrow').icon-arrow]
          p Смотреть<br>видео-презентацию

  .header__right
    .header__right_slider.owl-carousel.f-carousel#carousell
      img(src="@img/main-img_1.png", alt="main image").main_image.f-carousel__slider
      img(src="@img/1_1.png", alt="main image").main_image.f-carousel__slider
      img(src="@img/2_1.png", alt="main image").main_image.f-carousel__slider
      img(src="@img/3_1.png", alt="main image").main_image.f-carousel__slider
      img(src="@img/4_1.png", alt="main image").main_image.f-carousel__slider
      img(src="@img/5_1.png", alt="main image").main_image.f-carousel__slider
      img(src="@img/6_1.png", alt="main image").main_image.f-carousel__slider
      img(src="@img/7_1.png", alt="main image").main_image.f-carousel__slider
    .header__right_nav
      button.header__right_nav-prev
        span #[+svg-icon('arrow').icon-prev]
      button.header__right_nav-next
        span #[+svg-icon('arrow').icon-next]
