include ./_mixins

main.main
  section.portfolio#portfolio
    .container
      .portfolio__title
        h2 Portfolio
      .portfolio__content#carousel-portfolio.f-carousel
        .f-carousel__slide
          a(href="@img/1_1.png" data-fancybox="gallery").portfolio__content_link
            img(src="@img/1.png")
        .f-carousel__slide
          a(href="@img/2_1.png" data-fancybox="gallery").portfolio__content_link
            img(src="@img/3.png")
        .f-carousel__slide
          a(href="@img/3_1.png" data-fancybox="gallery").portfolio__content_link
            img(src="@img/4.png")
        .f-carousel__slide
          a(href="@img/4_1.png" data-fancybox="gallery").portfolio__content_link
            img(src="@img/5.png")
        .f-carousel__slide
          a(href="@img/5_1.png" data-fancybox="gallery").portfolio__content_link
            img(src="@img/6.png")
        .f-carousel__slide
          a(href="@img/6_1.png" data-fancybox="gallery").portfolio__content_link
            img(src="@img/7.png")
        .f-carousel__slide
          a(href="@img/7_1.png" data-fancybox="gallery").portfolio__content_link
            img(src="@img/2.png")
        .f-carousel__slide
          a(href="@img/8_1.png" data-fancybox="gallery").portfolio__content_link
            img(src="@img/8.png")
        .f-carousel__slide
          a(href="@img/9_1.png" data-fancybox="gallery").portfolio__content_link
            img(src="@img/9.png")
