//- Header Content
-
  const header_en = {
    title: 'Katerina Protopopova',
    subtitle: 'interior designer',
  };

  const header_ru = {
    title: 'Екатерина Мелисова',
    subtitle: 'дезайнер-интерьера',
  };

  //- Contact List
  const contacts = [
    {
      name: 'phone:',
      subj: '8 903 438-44-66',
      icon: 'phone',
      link: 'tel:89034384466',
    },
    {
      name: 'instagram:',
      subj: 'melisova_studio',
      icon: 'instagram_n',
      link: 'https://www.instagram.com/',
    },
    {
      name: 'email:',
      subj: 'cat@gmail.com',
      icon: 'email',
      link: 'mailto:cat@gmail.com',
    },
    {
      name: 'address:',
      subj: 'Kiev, Ukraine',
      icon: 'point',
      link: 'Kiev, Ukraine',
    },
    {
      name: 'pinterest',
      subj: 'www.pinterest.ru/',
      icon: 'pinterest',
      link: 'https://www.pinterest.com/',
    },
    {
      name: 'behance',
      subj: 'www.behance.net/',
      icon: 'behance',
      link: 'https://www.behance.net/',
    },
  ];