//- Header Content
-
  const header_en = {
    title: 'Katerina Melisova',
    subtitle: 'interior designer',
  };

  const header_ru = {
    title: 'Екатерина Мелисова',
    subtitle: 'дезайнер-интерьера',
  };

  //- Contact List
  const contacts = [
    {
      name: 'телефон:',
      subj: '8 903 438-44-66',
      icon: 'phone',
      link: 'tel:89034384466',
    },
    {
      name: 'instagram:',
      subj: 'melisova_studio',
      icon: 'instagram_n',
      link: 'https://www.instagram.com/melisova_studio',
    },
    {
      name: 'почта:',
      subj: 'Melisova@gmail.com',
      icon: 'email',
      link: 'mailto:Melisova@gmail.com',
    },
    {
      name: 'адрес:',
      subj: 'г. Москва, ул. Мытная, д.7, стр.1',
      icon: 'point',
      link: 'г. Москва, ул. Мытная, д.7, стр.1',
    },
    {
      name: 'pinterest',
      subj: 'www.pinterest.ru/melisova',
      icon: 'pinterest',
      link: 'https://www.pinterest.com/melisova',
    },
    {
      name: 'behance',
      subj: 'www.behance.net/melisova',
      icon: 'behance',
      link: 'https://www.behance.net/melisova',
    },
  ];